/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  background-color: var(--bs-secondary);
  padding-bottom: 20px;
}

.navbar-header {
  min-height: 40px;
}

footer p {
  margin: 0;
}

footer .row {
  padding: 0 30px;
}